.app-box {
    width: 100%;
}

.top-title {
    text-align: center;
    border-bottom: 1px solid #edeeef;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title-content {
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-stretch: expanded;
    font-size: 2.3em;
}

body {
    background-color: #fcfcfc;
}

.app-surround {
    background-color: #f3f2f4;
    margin: auto;
    width: 40%;
    border: 3px solid #5b5b5c;
    border-radius: 2px;
    padding: 10px;
}

.app-container {
    display: flex;
    align-items: center;
}

.header-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3em;
    color: #3d3c3c;
}

.task-item-container {
    background-color: #e2edff;
    /* background-color: #dbdbdb; */
    width: 99%;
    display:block;
    overflow:auto;
    min-height: 50px;
    border-style: solid;
    border-color: #f3f2f4;
    border-top: none;
    border-width: 2px;
    border-radius: 2px;
    padding-top: 2px;
    padding-left: 5px;
    padding-bottom: 4px;
}

input {
    background-color: white;
    border-style: none;
    font-size: 1em;
    height: 22px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #3d3c3c;
}

input:focus {
    outline: none;
}

.create-task-input, create-button {
    display: inline-block;
    /* already was inline by default - but just to be clear */
    vertical-align: middle;
}

.move-text-container {
    display: inline-block;
    vertical-align: middle;
}

.move-button-container {
    display: inline-block;
    vertical-align: middle;
}

.task-item-input {
}

.right {
  display: block;
  float:right;
}

.span-shim {
  margin-left: 5px;
}

.task-list {
}

.task-item {
    border-style: solid;
    border-color: transparent;
    border-width: 4px;
}

.task-item-desc {
    color: #3d3c3c;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1em;
    padding-left: 1px;
    /* padding-top: 10px; --wasn't working */
}

.task-item-date {
    /* color: #9b9a99; */
    color: #3d3c3c;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1em;
}

.task-item-desc-container {
    width: 70%;
    float: left;
}

.icon-credit {
    font-size: 0.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.edit-img {
    cursor: pointer; cursor: hand;
}

.delete-img {
    cursor: pointer; cursor: hand;
}

.add-img {
    cursor: pointer; cursor: hand;
    vertical-align: middle;
}

.move-img {
    cursor: pointer; cursor: hand;
    vertical-align: middle;
}

.expire-img {
    cursor: pointer; cursor: hand;
    vertical-align: top;
}

button {
    padding: 0;
    border: none;
    background: none;
}

button:focus {
    outline: none;
}





